@media (max-width: 480px) { 
        .hero-unit h1 {
          font-size: 25px;
        }

        .hero-unit h2 {
          font-size: 20px;
        }

        h3 {
          font-size: 18px;
        }
}

@media (min-width: 768px) and (max-width: 979px) {
        .min-box-size {
            min-width: 320px;
        }
}
