{% extends 'rango/base.html' %}
{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <div class="page-header">
        <h2>{{ category_name }} <small>category</small></h2>
    </div>
</div>

<div class="row-fluid">
    <!-- modal dialog -->
    <div id="dialog-confirm" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Deletion</h3>
        </div>
        <div class="modal-body">
            <p>You are about to delete <span id="url-name"></span>, this procedure is irreversible.</p>
            <p>Do you want to proceed?</p>
        </div>
        <div class="modal-footer">
            <a href="delete.php?ref=" class="btn btn-danger" id="confirm-yes">Yes</a>
            <a href="#" data-dismiss="modal" class="btn btn-success">No</a>
        </div>
    </div>
    <!-- end dialog -->

    {% if pages %}
        <table class="table table-striped">
        <tbody>
            {% for page in pages %}
            <tr><td>
                <a href="/rango/goto/?page_id={{page.id}}" target="_blank">{{page.title}}</a>
                <span class="pull-right">
                {% if page.views > 1 %}
                    <span class="badge">{{ page.views }} views</span>
                {% elif page.views == 1 %}
                    <span class="badge">{{ page.views }} view</span>
                {% endif %}
                {% if user.is_authenticated %}
                    &nbsp;<a href="/rango/page/{{page.id}}/edit/" class="edit-item my-tooltip" data-name="Page: {{page.title}}" data-toggle="tooltip" title="edit"><i class="icon-edit"></i></a>
                    &nbsp;<a href="/rango/page/{{page.id}}/delete/" class="delete-item my-tooltip" data-name="Page: {{page.title}}" data-toggle="tooltip" title="delete"><i class="icon-trash"></i></a>
                {% endif %}
                </span>
            </td></tr>
            {% endfor %}
        </tbody>
        </table>

        {% if pages.has_other_pages %}
            <ul class="pager">
                {% if pages.has_previous %}
                    <li class="previous"><a href="?page={{ pages.previous_page_number }}">Prev</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">Prev</a></li>
                {% endif %}
                <li class="muted">Page {{ pages.number }} of {{ pages.paginator.num_pages }}</li>
                {% if pages.has_next %}
                    <li class="next"><a href="?page={{ pages.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <strong>No pages currently in category.</strong>
    {% endif %}

    {% if user.is_authenticated %}
        <p><br />
        <a href="/rango/category/{{category_name_url}}/add_page/" class="btn btn-primary my-tooltip my-spacer" role="button" data-toggle="tooltip" data-placement="right" title="add"><i class="icon-plus icon-white"></i>&nbsp;&nbsp;Page</a>
        <a href="/rango/category/{{category_name_url}}/edit/" class="btn btn-warning my-tooltip my-spacer" role="button" data-toggle="tooltip" data-placement="right" title="edit"><i class="icon-edit icon-white"></i>&nbsp;&nbsp;Category</i></a>
        <a href="/rango/category/{{category_name_url}}/delete/" class="btn btn-danger delete-item my-tooltip my-spacer" data-name="Category: {{category_name}}" role="button" data-toggle="tooltip" data-placement="right" title="delete"><i class="icon-trash icon-white"></i>&nbsp;&nbsp;Category</i></a>
        </p>
    {% endif %}
</div>
<div class="row-fluid">
    <hr>
    <p>
    <strong id="like_count">{{ category.likes }}</strong> people like <i class="icon-thumbs-up"></i> this category
    {% if user.is_authenticated %}
            <button id ="likes" data-catid="{{category.id}}" class="btn btn-mini btn-info" type="button"><i class="icon-thumbs-up icon-white"></i>&nbsp;&nbsp;Like</button>
    {% endif %}
    </p>
</div>
{% endblock %}
