{% extends 'rango/base.html' %}
{% block title %}Password change{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Change your password</h1>
</div>
<div class="row-fluid progress-warning progress-striped">
    <div class="well well-small well-white bar">
        {% if not user.is_staff and not user.is_superuser %}
        <form class="form-signin offset1" id="change_password_form" method="post" action="/rango/profile/change_password/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <br />
            <h2 class="form-signin-heading">user '{{ user.username }}'</h2>
            <!-- Display each form here -->
 
            {% for field in user_form.visible_fields %}
            <span class="errorlist" id="errorlist_{{ field.name }}">{{ field.errors.as_text }}</span>
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <button class="btn btn-warning" type="submit" name="submit"><i class="icon-refresh icon-white"></i>&nbsp;Change Password</button>
        </form>
        {% else %}
            <p>
            <span class="errorlist"><strong>Staff users cannot change their passwords from here.</strong></span>
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}
