{% extends 'rango/base.html' %}
{% block title %}Edit category{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h2>Edit Category '{{ category_name }}'</h2>
    <br/>
    <div class="container">
        <form class="span6" id="edit_category_form" method="post" action="/rango/category/{{ category_url }}/edit/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <span class="errorlist" id="errorlist_{{ field.name }}">{{ field.errors.as_text }}</span>
            {{ field.help_text }}<br/>
            {{ field }}
            {% endfor %}

            <p><br/>
            <button class="btn btn-primary my-tooltip" type="submit" name="submit" data-toggle="tooltip" data-placement="right" title="update"><i class="icon-refresh icon-white"></i>&nbsp;&nbsp;Category</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
