{% extends 'rango/base.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Login to Rango</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/rango/login/">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ request.GET.next }}" />

        {% if bad_details %}
        <p><span class="errorlist"><strong>Your username and/or password were incorrect!</strong></span></p>
        {% elif disabled_account %}
        <p><span class="errorlist"><strong>Your Rango account is currently disabled; we can't log you in!</strong></span></p>
        {% endif %}
        Username:
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" class="input-block-level" placeholder="Username" name="username" value="" />
            </div>
        </div>
        Password:
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-chevron-right"></i></span>
                <input type="password" class="input-block-level" placeholder="Password" name="password" value="" />
            </div>
        </div>
        <p><button class="btn btn-primary" type="submit">Sign in</button></p>
    </form>
    </div>
    <!-- /container -->
</div>
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Information!</h4>
    <p>This is a demo site. Login with username <strong>test</strong> and password <strong>test</strong> or Register your own account to see the full functionality.</p>
    <p>If you Register you will have more options available to control your account.</p>
</div>
{% endblock %}
