{% extends "rango/base.html" %}
{% block title %}Profile{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1> Profile <h1> <br/>
    <h2>{{ user.username }}</h2>
    {% if user %}
        <p>
        <strong>Email:</strong> {{ user.email }}<br />
        <strong>First name:</strong> {{ user.first_name }}<br />
        <strong>Last name:</strong> {{ user.last_name }}</br>
        <strong>Date joined:</strong> {{ user.date_joined }}
        </p>
    {% endif %}

    {% if userprofile %}
        <p><strong>Website:</strong> <a href="{{ userprofile.website }}" target="_blank">{{ userprofile.website }}</a></p>
        {% if userprofile.picture %}
            <p>
            <strong>Profile picture:</strong><br />
            <img src="{{ userprofile.picture.url }}"  />
            </p>
        {% endif %}
    {% else %}
        <p><strong>No user profile found.</strong></p>
    {% endif %}

    <p><br />
        <a href="/rango/profile/update/" class="btn btn-primary" role="button">Update profile</a>
        {% if not user.is_staff or not user.is_superuser %}
        <a href="/rango/profile/change_password/" class="btn btn-warning" role="button">Change password</a>
        <a href="/rango/" class="btn btn-danger" role="button">Delete profile</a>
        {% endif %}
    </p>
</div>
{% endblock %}
