{% extends 'rango/base.html' %}
{% block title %}Register{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Register with Rango</h1>
    <br />

    <div class="container">
        {% if registered %}
        <p>Thank you for registering.</p>

        <p><a href="/rango/login/">Login</a> when you are ready to rango.</p>
        {% else %}
        <form class="form-signin span8" id="user_form" method="post" action="/rango/register/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up Here</h2>
            <!-- Display each form here -->

            {% for field in user_form.visible_fields %}
            <span class="errorlist" id="errorlist_{{ field.name }}">{{ field.errors.as_text }}</span>
            {{ field.help_text }}<br />
            <div class="controls">
                <div class="input-prepend">
                    {% if field.name == 'username' %}
                        <span class="add-on"><i class="icon-user"></i></span>
                    {% elif field.name == 'password' or field.name == 'retype_password' %}
                        <span class="add-on"><i class="icon-chevron-right"></i></span>
                    {% elif field.name == 'email' or field.name == 'retype_email' %}
                        <span class="add-on"><i class="icon-envelope"></i></span>
                    {% elif field.name == 'first_name' %}
                        <span class="add-on"><i class="icon-th"></i></span>
                    {% elif field.name == 'last_name' %}
                        <span class="add-on"><i class="icon-th-large"></i></span>
                    {% endif %}
                    {{ field }}<br />
                </div>
            </div>
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            <span class="errorlist">{{ field.errors.as_text }}</span>
            {{ field.help_text }}<br />
            <div class="controls">
                <div class="input-prepend">
                    {% if field.name == 'website' %}
                        <span class="add-on"><i class="icon-globe"></i></span>
                    {% endif %}
                    {{ field }}<br />
                </div>
            </div>
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Register"/>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
